*{
    padding:0;
    margin:0;
    background-color:rgb(244, 230, 230);
}
div{ 
    /*navigation bar box styling is done*/
    height: 160.9px;
    width:1529.20px;
    background-color:lightblue;
    border:5px solid black;
    border-radius:15px;
}
 h1{
    *{
        color:purple;
    }
    font-style:italic;
    background-color: lightblue;
 }
 h5{
    display:contents;
    align-items:right;
 }
body{
    margin-left:10px;
    margin-right:50px;
}
a{
    
    align-items: center;
    margin-left:160px;
    
}
h2{
    font-size:larger;
    font-style: italic;
   
}
img{
    height:200px;
    width:200px;
    margin:40px;
   
}
button{
    color:red;
    background-color:rgb(212, 193, 193);
}

#one{
    height:250px;
    width:250px;
    border:5px solid black;
}
#two{
    height:250px;
    width:250px;
    border:5px solid black;
}
#three{
    height:250px;
    width:250px;
    border:5px solid black;
}
#four{
    height:250px;
    width:250px;
    border:5px solid black;
}
#five{
    height:250px;
    width:250px;
    border:5px solid black;
}
#six{
    height:250px;
    width:250px;
    border:5px solid black;
}
h3{
   text-align: center;
   color:rgb(29, 27, 27);
   font-style: italic;
   font-weight: bold;
   background-color:none;
  
}