body{
    background-image:url("https://wallpapercave.com/wp/wp4390828.jpg")
}

div{
    background-color:rgb(56, 48, 48);
    color:white;
    height:600px;
    width:400px;
    border:10px solid red;
    border-radius: 40px;
    margin:90px;
}
input{
    border:5px solid black;
}
button{
    color:white;
    background-color: blue;
    border:3px solid black;
}
a{
    color:crimson;
    text-align: center;
    margin:20px;
    text-decoration: underline;
}