
        
div{
    height:600px;
    width:580px;
    color:black;
    background-color: lightsalmon;
    border:5px solid black;
    border-radius:80px;
    text-align: left;
}
button{
    color:black;
    background-color:aqua;
}

h2{
    text-align:center;
}
input{
    border:3px solid black;

}
select{
    border:3px solid black;
}
#one{
    height:200px;
    width:200px;
    text-align:center;
}
body{
    background-image:url("https://c.wallhere.com/photos/62/1e/simple_background_texture-258851.jpg!d") ;
}

